body
  background-color: #000
  overflow: auto

.main
  text-align: center
  padding-top: 2em
  font-family: verdana
  font-size: 8pt

.container
  width: 66em
  margin: 0 auto
  padding: 0.5%
  background-color: #bbb
  overflow: hidden
  border: 0.1em solid #ddd

.titel
  clear: both
  font-weight: bold
  font-style: oblique
  padding: 1%
  margin: 2%
  text-align: right
  font-size: 10pt

.text
  clear: both
  padding: 1%
  margin: 2%
  margin-bottom: 1%
  background-color: #ccc
  text-align: right
  border: 0.1em solid #aaa
  
.releases
  margin: 2%
  padding: 1%
  background-color: #bbb
  border: 0.1em solid #aaa

.image
  float: left
  width: 40em
  height: 30em
  margin: 1%
  margin-left: 2%
  margin-bottom: 2%
  border: 0.1em solid #aaa
  overflow: hidden
  display: inline 

.tracks 
  width: 20em
  height: 30em
  float: right
  text-align: right
  margin: 1%
  margin-right: 2%
  background-color: #000
  color: #ccc
  border: 0.1em solid #aaa
  overflow: auto
  display: inline 

.license
  clear: both
  text-align: left
  font-size: 6pt
  margin: 2%

.name
  padding: 0.5%
  float: left

.size
  text-align: right

table
  width: 95%
  font-size: 8pt
  vertical-align: bottom

th
  text-align: left

tr:hover
  background-color: #222

td
  font-style: oblique
  padding: 0.2em
  color: #ccc

td .trackname
  width: 10em
  text-align: left
  font-style: oblique
  padding-left: 1em
  color: #ccc
  overflow: hidden

.releases td
  font-style: oblique
  padding: 1%
  color: black

img
  border-style: none

.tracks img
  width: 0.9em
  height: 0.9em
  background-color: black

.image img
  width: 100%
  height: 100%

.nav 
  width: 66em
  margin: auto
  padding: 0.5%
  overflow: hidden

.menu
  float: right
  text-align: right
  width: 50em
  text-decoration: none 
  padding-top: 1em
  display: inline 

.confirm
  text-align: left
  width: 66em
  margin: auto
  padding: 0.5%
  overflow: hidden

a
  color: black

.confirm a
  color: #ccc
  text-decoration: none

td a
  text-decoration: none 
  color: #ccc

.releases td
  text-align: right

.releases tr:hover
  background-color: #bbb

.menu a
  color: #ddd
  text-decoration: none

a:hover 
  color: #ff8

.tracks td a:hover
  color: #ccc

.logo 
  float: left
  font-size: 14pt
  font-weight: bold
  color: #ccc

